language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
virtualenv:
  system_site_packages: true
# command to install dependencies
before_install:
 - sudo apt-get install -qq python-numpy python-scipy
install: "pip install -r requirements.txt --use-mirrors"
# command to run tests
script: nosetests --with-doctest
